# Gradle
.gradle
build/
.kotlin/
!gradle/wrapper/gradle-wrapper.jar

# IDEs
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/
bin/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Generated Excel Files
kexcel-dsl-example/poi/poi_*.xlsx
kexcel-dsl-example/fastexcel/fastexcel_*.xlsx
